TELEGRAM_TOKEN=
BOT_NAME=
SENTRY_DSN=
OPENAI_API_KEY=
OPENROUTER_KEY=
TOGETHER_API_KEY=
TOGETHER_TRANSCRIBE_MODEL=nvidia/parakeet-tdt-0.6b-v3
ADMIN_ID=
DEFAULT_MODEL=meta-llama/llama-3-70b-instruct
MONGO_URI=mongodb://mongo:27017
MAX_MESSAGE_LENGTH=4096
